.box__container {
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
}
.container__header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.box__content-header {
  display: flex;
  margin-bottom: 16px;
}
.box__content-header > span {
  margin-right: 4px;
}
.box__content {
  display: flex;
  justify-content: space-between;
}
.body__box {
  display: flex;
  margin-bottom: 12px;
}

.body__box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box__body-left {
  width: 80%;
  border-right: 1px solid #ccc;
  padding: 15px;
}

.main__content {
  display: flex;
}
.main__content > div:first-child {
  width: 38%;
}
.main__content > div:last-child {
  width: 32%;
  margin-left: 34px;
}

.content {
  display: flex;
  margin-bottom: 12px;
}
.content__title {
  margin-right: 4px;
  font-size: 15px;
  font-weight: 600;
}
.content > span {
  margin-right: 4px;
}

.button__accept {
  margin-bottom: 12px;
  background-color: rgb(14, 221, 66) !important;
  border: 2px solid rgb(14, 221, 66);
}
.button__refuse {
  background-color: rgb(100, 59, 59) !important;
  border: 2px solid rgb(233, 31, 31);
}
.box__body-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__body-right Button {
  border-radius: 32px;
  font-size: 16px;
  color: white;
  font-weight: 300;
}
.button__view {
  align-items: center !important;
  height: 30px !important;
  background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%) !important;
  color: #fff;
  font-size: 14px !important;
  font-weight: 500 !important;
}
